body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: white;
}
.flex{
    display: flex
}
.jumbotron{
color:black;
background-color:white;
/*background-color:none !important;*/

